data_folder/
data_folder/*
frontend/public/geodata
processing/**/*.csv
processing/**/*.json
processing/**/*.geojson
processing/**/*.shp
processing/**/*.dbf
processing/**/*.prj
processing/**/*.cpg
processing/**/*.shx
processing/**/*.tif
processing/**/*.pdf
processing/**/*.gpkg
processing/**/*.zip
processing/**/*.tar.gz
processing/**/*.xlsx
processing/**/*.pmtiles